html{
  scroll-behavior: smooth;
}
body{

  margin: 0;
  padding: 0;
}
.carousel-control-next .carousel-control-next-icon {
    width: 100px;
    height: 100px;

}
.carousel-control-prev .carousel-control-prev-icon{
    width: 100px;
    height: 100px;
   
}

@media screen and (max-width:500px){
    
    .slider{
        width:auto;
        height:auto;
     }
    .card-img-top{
        width: 50px;
        height:180px;
    }
    .img-fluid mr-3{
        width:100px;
        height: 200px;
    }
    p{
        font-size: 10px;
    }
    h3{font-size: 10px;
    }
    .carousel-caption{
        width: auto;
        height: auto;
    }
    .social{
        width: 30px;
        height: 30px;
    }
    .pay{
        width: 320px;
        height:30px;
    }

}
.carousel-control-next{
    width: 300px;
    height: 500px;
    font-size: 300px;
    color: black;
}
